<?php
// MySQL-Connection Settings
$config = [
  'host' => "{{ engelsystem_dbhost }}",
  'user' => "{{ engelsystem_dbuser }}",
  'pw' => "{{ engelsystem_dbpass }}",
  'db' => "{{ engelsystem_dbname }}"
];


$contact_email = "{{ engelsystem_contactemail }}";
$no_reply_email = "{{ engelsystem_noreplyemail }}";

$ldap_host = "{{ engelsystem_ldaphost }}";
$ldap_basedn = "{{ engelsystem_ldapbasedn }}";
$ldap_userou = "{{ engelsystem_ldapuserou }}";

$enable_tshirt_size = false;

?>